{% extends "base.html" %}
{% load bootstrap4 %}
{% load staticfiles %}

{% block title %}おすすめルートの検索{% endblock title %}

{% block content %}
    <div class="head p-5">
      <div class="recommend-form p-3 font-deep">
        <h4 class="my-3 border-b">おすすめコース検索</h4>

        {% if user.is_authenticated %}
        <form action="{% url 'sheori:recommend_result' %}" method="get">
          <div class="row mb-5">
            <div class="col-3 px-2">
              <div class="label-main px-5">
                <div class="label-title text-center border-b">
                  <h6 class="recommend-label m-1">出発地点</h6>
                </div>
                <div class="label-buffer">
                  <label for="start_point" class="recommend-label"></label>
                </div>
                <div class="label-inner">
                  <label>
                    <select name="start_point">
                      <option value="金沢駅">金沢駅</option>
                      <option value="リファーレ前">リファーレ前</option>
                      <option value="武蔵ヶ辻・近江町市場">武蔵ヶ辻・近江町市場</option>
                      <option value="南町・尾山神社">南町・尾山神社</option>
                      <option value="香林坊">香林坊</option>
                      <option value="片町">片町</option>
                      <option value="広小路">広小路</option>
                      <option value="中橋">中橋</option>
                      <option value="六枚町">六枚町</option>
                    </select>
                  </label>
                </div>
              </div>
            </div>
            <div class="col-3 px-2">
              <div class="label-main px-5">
                <div class="label-title text-center border-b">
                  <h6 class="recommend-label m-1">到着地点</h6>
                </div>
                <div class="label-buffer">
                  <label for="goal_point" class="recommend-label"></label>
                </div>
                <div class="label-inner">
                  <label>
                    <select name="goal_point">
                      <option value="金沢駅">金沢駅</option>
                      <option value="リファーレ前">リファーレ前</option>
                      <option value="武蔵ヶ辻・近江町市場">武蔵ヶ辻・近江町市場</option>
                      <option value="南町・尾山神社">南町・尾山神社</option>
                      <option value="香林坊">香林坊</option>
                      <option value="片町">片町</option>
                      <option value="広小路">広小路</option>
                      <option value="中橋">中橋</option>
                      <option value="六枚町">六枚町</option>
                    </select>
                  </label>
                </div>
              </div>
            </div>
            <div class="col-3 px-2">
              <div class="label-main px-5">
                <div class="label-title text-center border-b">
                  <h6 class="recommend-label m-1">出発時間</h6>
                </div>
                <div class="label-buffer">
                  <label for="start_time" class="recommend-label"></label>
                </div>
                <div class="label-inner">
                  <input type="time" name="start_time" required>
                </div>
              </div>
            </div>
            <div class="col-3 px-2">
              <div class="label-main px-5">
                <div class="label-title text-center border-b">
                  <h6 class="recommend-label m-1">到着時間</h6>
                </div>
                <div class="label-buffer">
                  <label for="goal_time" class="recommend-label"></label>
                </div>
                <div class="label-inner">
                  <input type="time" name="goal_time" required>
                </div>
              </div>
            </div>
          </div>
          <div class="row mb-5">
            <div class="col-3 px-2">
              <div class="label-main px-5">
                <div class="label-title text-center border-b">
                  <h6 class="recommend-label m-1">行きたいスポット-1</h6>
                </div>
                <div class="label-buffer">
                  <label for="must_spot" class="recommend-label"></label>
                </div>
                <div class="label-inner">
                  <label>
                    <select name="must_spot">
                      <option value="兼六園">兼六園</option>
                      <option value="ひがし茶屋街">ひがし茶屋街</option>
                      <option value="長町武家屋敷跡">長町武家屋敷跡</option>
                      <option value="金沢21世紀美術館">金沢21世紀美術館</option>
                      <option value="妙立寺">妙立寺</option>
                      <option value="近江町市場">近江町市場</option>
                      <option value="鈴木大拙館">鈴木大拙館</option>
                      <option value="金沢城">金沢城</option>
                      <option value="金沢駅">金沢駅</option>
                      <option value="石川県立美術館">石川県立美術館</option>
                      <option value="尾山神社">尾山神社</option>
                      <option value="金沢蓄音器館">金沢蓄音器館</option>
                      <option value="成巽閣">成巽閣</option>
                      <option value="寺町寺院群">寺町寺院群</option>
                      <option value="主計町茶屋街">主計町茶屋街</option>
                      <option value="石川県立伝統産業工芸館">石川県立伝統産業工芸館</option>
                      <option value="金沢市立安江金箔工芸館">金沢市立安江金箔工芸館</option>
                      <option value="金沢市足軽資料館">金沢市足軽資料館</option>
                      <option value="金沢能楽美術館">金沢能楽美術館</option>
                      <option value="老舗記念館">老舗記念館</option>
                      <option value="金沢くらしの博物館">金沢くらしの博物館</option>
                      <option value="玉泉院丸庭園">玉泉院丸庭園</option>
                      <option value="金澤神社">金澤神社</option>
                      <option value="石川四高記念文化交流館">石川四高記念文化交流館</option>
                      <option value="にし茶屋街">にし茶屋街</option>
                      <option value="石川県立歴史博物館">石川県立歴史博物館</option>
                      <option value="石川県政記念しいのき迎賓館">石川県政記念しいのき迎賓館</option>
                      <option value="大野からくり記念館">大野からくり記念館</option>
                      <option value="金澤海みらい図書館">金澤海みらい図書館</option>
                      <option value="浅の川温泉">浅の川温泉</option>
                      <option value="卯辰山山麓寺院群">卯辰山山麓寺院群</option>
                      <option value="小立野寺院群">小立野寺院群</option>
                      <option value="尾張町老舗交流館">尾張町老舗交流館</option>
                      <option value="泉鏡花句碑">泉鏡花句碑</option>
                      <option value="下馬地蔵">下馬地蔵</option>
                      <option value="銭屋五兵衛銅像">銭屋五兵衛銅像</option>
                      <option value="徳田秋聲文学碑">徳田秋聲文学碑</option>
                      <option value="長町武家屋敷跡">長町武家屋敷跡</option>
                      <option value="白鳥路">白鳥路</option>
                      <option value="三宅雪嶺生家跡">三宅雪嶺生家跡</option>
                      <option value="室生犀星文学碑">室生犀星文学碑</option>
                      <option value="室生犀星の墓">室生犀星の墓</option>
                      <option value="中の橋">中の橋</option>
                      <option value="彦三緑地">彦三緑地</option>
                      <option value="望湖台">望湖台</option>
                      <option value="馬坂">馬坂</option>
                      <option value="木曽坂">木曽坂</option>
                      <option value="白鷺の足湯">白鷺の足湯</option>
                      <option value="天神坂">天神坂</option>
                      <option value="天神町通り">天神町通り</option>
                      <option value="二十人坂">二十人坂</option>
                      <option value="八坂五山">八坂五山</option>
                      <option value="みなと橋">みなと橋</option>
                      <option value="嫁坂">嫁坂</option>
                      <option value="室生犀星記念館">室生犀星記念館</option>
                      <option value="泉鏡花記念館">泉鏡花記念館</option>
                      <option value="徳田秋聲記念館">徳田秋聲記念館</option>
                      <option value="金沢湯涌夢二館">金沢湯涌夢二館</option>
                      <option value="寺島蔵人邸">寺島蔵人邸</option>
                      <option value="前田土佐守家資料館">前田土佐守家資料館</option>
                      <option value="金沢市立中村記念美術館">金沢市立中村記念美術館</option>
                      <option value="金沢ふるさと偉人館">金沢ふるさと偉人館</option>
                      <option value="金沢文芸館">金沢文芸館</option>
                      <option value="金沢湯涌江戸村">金沢湯涌江戸村</option>
                      <option value="金沢市民芸術村">金沢市民芸術村</option>
                      <option value="金沢卯辰山工芸工房">金沢卯辰山工芸工房</option>
                      <option value="金沢湯涌創作の森">金沢湯涌創作の森</option>
                      <option value="旧加賀藩士高田家跡">旧加賀藩士高田家跡</option>
                      <option value="金沢市文化ホール">金沢市文化ホール</option>
                      <option value="金沢市アートホール">金沢市アートホール</option>
                      <option value="金沢市埋蔵文化財センター">金沢市埋蔵文化財センター</option>
                      <option value="金沢市埋蔵文化財収蔵庫">金沢市埋蔵文化財収蔵庫</option>
                    </select>
                  </label>
                </div>
              </div>
            </div>
            <div class="col-3 px-2">
              <div class="label-main px-5">
                <div class="label-title text-center border-b">
                  <h6 class="recommend-label m-1">行きたいスポット-2</h6>
                </div>
                <div class="label-buffer">
                  <label for="must_spot_2" class="recommend-label"></label>
                </div>
                <div class="label-inner">
                  <label>
                    <select name="must_spot_2">
                      <option value="">未実装</option>
                      <option value="兼六園">兼六園</option>
                      <option value="ひがし茶屋街">ひがし茶屋街</option>
                      <option value="長町武家屋敷跡">長町武家屋敷跡</option>
                      <option value="金沢21世紀美術館">金沢21世紀美術館</option>
                      <option value="妙立寺">妙立寺</option>
                      <option value="近江町市場">近江町市場</option>
                      <option value="鈴木大拙館">鈴木大拙館</option>
                      <option value="金沢城">金沢城</option>
                      <option value="金沢駅">金沢駅</option>
                      <option value="石川県立美術館">石川県立美術館</option>
                      <option value="尾山神社">尾山神社</option>
                      <option value="金沢蓄音器館">金沢蓄音器館</option>
                      <option value="成巽閣">成巽閣</option>
                      <option value="寺町寺院群">寺町寺院群</option>
                      <option value="主計町茶屋街">主計町茶屋街</option>
                      <option value="石川県立伝統産業工芸館">石川県立伝統産業工芸館</option>
                      <option value="金沢市立安江金箔工芸館">金沢市立安江金箔工芸館</option>
                      <option value="金沢市足軽資料館">金沢市足軽資料館</option>
                      <option value="金沢能楽美術館">金沢能楽美術館</option>
                      <option value="老舗記念館">老舗記念館</option>
                      <option value="金沢くらしの博物館">金沢くらしの博物館</option>
                      <option value="玉泉院丸庭園">玉泉院丸庭園</option>
                      <option value="金澤神社">金澤神社</option>
                      <option value="石川四高記念文化交流館">石川四高記念文化交流館</option>
                      <option value="にし茶屋街">にし茶屋街</option>
                      <option value="石川県立歴史博物館">石川県立歴史博物館</option>
                      <option value="石川県政記念しいのき迎賓館">石川県政記念しいのき迎賓館</option>
                      <option value="大野からくり記念館">大野からくり記念館</option>
                      <option value="金澤海みらい図書館">金澤海みらい図書館</option>
                      <option value="浅の川温泉">浅の川温泉</option>
                      <option value="卯辰山山麓寺院群">卯辰山山麓寺院群</option>
                      <option value="小立野寺院群">小立野寺院群</option>
                      <option value="尾張町老舗交流館">尾張町老舗交流館</option>
                      <option value="泉鏡花句碑">泉鏡花句碑</option>
                      <option value="下馬地蔵">下馬地蔵</option>
                      <option value="銭屋五兵衛銅像">銭屋五兵衛銅像</option>
                      <option value="徳田秋聲文学碑">徳田秋聲文学碑</option>
                      <option value="長町武家屋敷跡">長町武家屋敷跡</option>
                      <option value="白鳥路">白鳥路</option>
                      <option value="三宅雪嶺生家跡">三宅雪嶺生家跡</option>
                      <option value="室生犀星文学碑">室生犀星文学碑</option>
                      <option value="室生犀星の墓">室生犀星の墓</option>
                      <option value="中の橋">中の橋</option>
                      <option value="彦三緑地">彦三緑地</option>
                      <option value="望湖台">望湖台</option>
                      <option value="馬坂">馬坂</option>
                      <option value="木曽坂">木曽坂</option>
                      <option value="白鷺の足湯">白鷺の足湯</option>
                      <option value="天神坂">天神坂</option>
                      <option value="天神町通り">天神町通り</option>
                      <option value="二十人坂">二十人坂</option>
                      <option value="八坂五山">八坂五山</option>
                      <option value="みなと橋">みなと橋</option>
                      <option value="嫁坂">嫁坂</option>
                      <option value="室生犀星記念館">室生犀星記念館</option>
                      <option value="泉鏡花記念館">泉鏡花記念館</option>
                      <option value="徳田秋聲記念館">徳田秋聲記念館</option>
                      <option value="金沢湯涌夢二館">金沢湯涌夢二館</option>
                      <option value="寺島蔵人邸">寺島蔵人邸</option>
                      <option value="前田土佐守家資料館">前田土佐守家資料館</option>
                      <option value="金沢市立中村記念美術館">金沢市立中村記念美術館</option>
                      <option value="金沢ふるさと偉人館">金沢ふるさと偉人館</option>
                      <option value="金沢文芸館">金沢文芸館</option>
                      <option value="金沢湯涌江戸村">金沢湯涌江戸村</option>
                      <option value="金沢市民芸術村">金沢市民芸術村</option>
                      <option value="金沢卯辰山工芸工房">金沢卯辰山工芸工房</option>
                      <option value="金沢湯涌創作の森">金沢湯涌創作の森</option>
                      <option value="旧加賀藩士高田家跡">旧加賀藩士高田家跡</option>
                      <option value="金沢市文化ホール">金沢市文化ホール</option>
                      <option value="金沢市アートホール">金沢市アートホール</option>
                      <option value="金沢市埋蔵文化財センター">金沢市埋蔵文化財センター</option>
                      <option value="金沢市埋蔵文化財収蔵庫">金沢市埋蔵文化財収蔵庫</option>
                    </select>
                  </label>
                </div>
              </div>
            </div>
            <div class="col-3 px-2">
              <div class="label-main px-5">
                <div class="label-title text-center border-b">
                  <h6 class="recommend-label m-1">行きたいスポット-3</h6>
                </div>
                <div class="label-buffer">
                  <label for="must_spot_3" class="recommend-label"></label>
                </div>
                <div class="label-inner">
                  <label>
                    <select name="must_spot_3">
                      <option value="">未実装</option>
                      <option value="兼六園">兼六園</option>
                      <option value="ひがし茶屋街">ひがし茶屋街</option>
                      <option value="長町武家屋敷跡">長町武家屋敷跡</option>
                      <option value="金沢21世紀美術館">金沢21世紀美術館</option>
                      <option value="妙立寺">妙立寺</option>
                      <option value="近江町市場">近江町市場</option>
                      <option value="鈴木大拙館">鈴木大拙館</option>
                      <option value="金沢城">金沢城</option>
                      <option value="金沢駅">金沢駅</option>
                      <option value="石川県立美術館">石川県立美術館</option>
                      <option value="尾山神社">尾山神社</option>
                      <option value="金沢蓄音器館">金沢蓄音器館</option>
                      <option value="成巽閣">成巽閣</option>
                      <option value="寺町寺院群">寺町寺院群</option>
                      <option value="主計町茶屋街">主計町茶屋街</option>
                      <option value="石川県立伝統産業工芸館">石川県立伝統産業工芸館</option>
                      <option value="金沢市立安江金箔工芸館">金沢市立安江金箔工芸館</option>
                      <option value="金沢市足軽資料館">金沢市足軽資料館</option>
                      <option value="金沢能楽美術館">金沢能楽美術館</option>
                      <option value="老舗記念館">老舗記念館</option>
                      <option value="金沢くらしの博物館">金沢くらしの博物館</option>
                      <option value="玉泉院丸庭園">玉泉院丸庭園</option>
                      <option value="金澤神社">金澤神社</option>
                      <option value="石川四高記念文化交流館">石川四高記念文化交流館</option>
                      <option value="にし茶屋街">にし茶屋街</option>
                      <option value="石川県立歴史博物館">石川県立歴史博物館</option>
                      <option value="石川県政記念しいのき迎賓館">石川県政記念しいのき迎賓館</option>
                      <option value="大野からくり記念館">大野からくり記念館</option>
                      <option value="金澤海みらい図書館">金澤海みらい図書館</option>
                      <option value="浅の川温泉">浅の川温泉</option>
                      <option value="卯辰山山麓寺院群">卯辰山山麓寺院群</option>
                      <option value="小立野寺院群">小立野寺院群</option>
                      <option value="尾張町老舗交流館">尾張町老舗交流館</option>
                      <option value="泉鏡花句碑">泉鏡花句碑</option>
                      <option value="下馬地蔵">下馬地蔵</option>
                      <option value="銭屋五兵衛銅像">銭屋五兵衛銅像</option>
                      <option value="徳田秋聲文学碑">徳田秋聲文学碑</option>
                      <option value="長町武家屋敷跡">長町武家屋敷跡</option>
                      <option value="白鳥路">白鳥路</option>
                      <option value="三宅雪嶺生家跡">三宅雪嶺生家跡</option>
                      <option value="室生犀星文学碑">室生犀星文学碑</option>
                      <option value="室生犀星の墓">室生犀星の墓</option>
                      <option value="中の橋">中の橋</option>
                      <option value="彦三緑地">彦三緑地</option>
                      <option value="望湖台">望湖台</option>
                      <option value="馬坂">馬坂</option>
                      <option value="木曽坂">木曽坂</option>
                      <option value="白鷺の足湯">白鷺の足湯</option>
                      <option value="天神坂">天神坂</option>
                      <option value="天神町通り">天神町通り</option>
                      <option value="二十人坂">二十人坂</option>
                      <option value="八坂五山">八坂五山</option>
                      <option value="みなと橋">みなと橋</option>
                      <option value="嫁坂">嫁坂</option>
                      <option value="室生犀星記念館">室生犀星記念館</option>
                      <option value="泉鏡花記念館">泉鏡花記念館</option>
                      <option value="徳田秋聲記念館">徳田秋聲記念館</option>
                      <option value="金沢湯涌夢二館">金沢湯涌夢二館</option>
                      <option value="寺島蔵人邸">寺島蔵人邸</option>
                      <option value="前田土佐守家資料館">前田土佐守家資料館</option>
                      <option value="金沢市立中村記念美術館">金沢市立中村記念美術館</option>
                      <option value="金沢ふるさと偉人館">金沢ふるさと偉人館</option>
                      <option value="金沢文芸館">金沢文芸館</option>
                      <option value="金沢湯涌江戸村">金沢湯涌江戸村</option>
                      <option value="金沢市民芸術村">金沢市民芸術村</option>
                      <option value="金沢卯辰山工芸工房">金沢卯辰山工芸工房</option>
                      <option value="金沢湯涌創作の森">金沢湯涌創作の森</option>
                      <option value="旧加賀藩士高田家跡">旧加賀藩士高田家跡</option>
                      <option value="金沢市文化ホール">金沢市文化ホール</option>
                      <option value="金沢市アートホール">金沢市アートホール</option>
                      <option value="金沢市埋蔵文化財センター">金沢市埋蔵文化財センター</option>
                      <option value="金沢市埋蔵文化財収蔵庫">金沢市埋蔵文化財収蔵庫</option>
                    </select>
                  </label>
                </div>
              </div>
            </div>
            <div class="col-3 px-2">
              <div class="label-main px-5">
                <div class="label-title text-center border-b">
                  <h6 class="recommend-label m-1">行きたいスポット-4</h6>
                </div>
                <div class="label-buffer">
                  <label for="must_spot_4" class="recommend-label"></label>
                </div>
                <div class="label-inner">
                  <label>
                    <select name="must_spot_4">
                      <option value="">未実装</option>
                      <option value="兼六園">兼六園</option>
                      <option value="ひがし茶屋街">ひがし茶屋街</option>
                      <option value="長町武家屋敷跡">長町武家屋敷跡</option>
                      <option value="金沢21世紀美術館">金沢21世紀美術館</option>
                      <option value="妙立寺">妙立寺</option>
                      <option value="近江町市場">近江町市場</option>
                      <option value="鈴木大拙館">鈴木大拙館</option>
                      <option value="金沢城">金沢城</option>
                      <option value="金沢駅">金沢駅</option>
                      <option value="石川県立美術館">石川県立美術館</option>
                      <option value="尾山神社">尾山神社</option>
                      <option value="金沢蓄音器館">金沢蓄音器館</option>
                      <option value="成巽閣">成巽閣</option>
                      <option value="寺町寺院群">寺町寺院群</option>
                      <option value="主計町茶屋街">主計町茶屋街</option>
                      <option value="石川県立伝統産業工芸館">石川県立伝統産業工芸館</option>
                      <option value="金沢市立安江金箔工芸館">金沢市立安江金箔工芸館</option>
                      <option value="金沢市足軽資料館">金沢市足軽資料館</option>
                      <option value="金沢能楽美術館">金沢能楽美術館</option>
                      <option value="老舗記念館">老舗記念館</option>
                      <option value="金沢くらしの博物館">金沢くらしの博物館</option>
                      <option value="玉泉院丸庭園">玉泉院丸庭園</option>
                      <option value="金澤神社">金澤神社</option>
                      <option value="石川四高記念文化交流館">石川四高記念文化交流館</option>
                      <option value="にし茶屋街">にし茶屋街</option>
                      <option value="石川県立歴史博物館">石川県立歴史博物館</option>
                      <option value="石川県政記念しいのき迎賓館">石川県政記念しいのき迎賓館</option>
                      <option value="大野からくり記念館">大野からくり記念館</option>
                      <option value="金澤海みらい図書館">金澤海みらい図書館</option>
                      <option value="浅の川温泉">浅の川温泉</option>
                      <option value="卯辰山山麓寺院群">卯辰山山麓寺院群</option>
                      <option value="小立野寺院群">小立野寺院群</option>
                      <option value="尾張町老舗交流館">尾張町老舗交流館</option>
                      <option value="泉鏡花句碑">泉鏡花句碑</option>
                      <option value="下馬地蔵">下馬地蔵</option>
                      <option value="銭屋五兵衛銅像">銭屋五兵衛銅像</option>
                      <option value="徳田秋聲文学碑">徳田秋聲文学碑</option>
                      <option value="長町武家屋敷跡">長町武家屋敷跡</option>
                      <option value="白鳥路">白鳥路</option>
                      <option value="三宅雪嶺生家跡">三宅雪嶺生家跡</option>
                      <option value="室生犀星文学碑">室生犀星文学碑</option>
                      <option value="室生犀星の墓">室生犀星の墓</option>
                      <option value="中の橋">中の橋</option>
                      <option value="彦三緑地">彦三緑地</option>
                      <option value="望湖台">望湖台</option>
                      <option value="馬坂">馬坂</option>
                      <option value="木曽坂">木曽坂</option>
                      <option value="白鷺の足湯">白鷺の足湯</option>
                      <option value="天神坂">天神坂</option>
                      <option value="天神町通り">天神町通り</option>
                      <option value="二十人坂">二十人坂</option>
                      <option value="八坂五山">八坂五山</option>
                      <option value="みなと橋">みなと橋</option>
                      <option value="嫁坂">嫁坂</option>
                      <option value="室生犀星記念館">室生犀星記念館</option>
                      <option value="泉鏡花記念館">泉鏡花記念館</option>
                      <option value="徳田秋聲記念館">徳田秋聲記念館</option>
                      <option value="金沢湯涌夢二館">金沢湯涌夢二館</option>
                      <option value="寺島蔵人邸">寺島蔵人邸</option>
                      <option value="前田土佐守家資料館">前田土佐守家資料館</option>
                      <option value="金沢市立中村記念美術館">金沢市立中村記念美術館</option>
                      <option value="金沢ふるさと偉人館">金沢ふるさと偉人館</option>
                      <option value="金沢文芸館">金沢文芸館</option>
                      <option value="金沢湯涌江戸村">金沢湯涌江戸村</option>
                      <option value="金沢市民芸術村">金沢市民芸術村</option>
                      <option value="金沢卯辰山工芸工房">金沢卯辰山工芸工房</option>
                      <option value="金沢湯涌創作の森">金沢湯涌創作の森</option>
                      <option value="旧加賀藩士高田家跡">旧加賀藩士高田家跡</option>
                      <option value="金沢市文化ホール">金沢市文化ホール</option>
                      <option value="金沢市アートホール">金沢市アートホール</option>
                      <option value="金沢市埋蔵文化財センター">金沢市埋蔵文化財センター</option>
                      <option value="金沢市埋蔵文化財収蔵庫">金沢市埋蔵文化財収蔵庫</option>
                    </select>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-6">
            </div>
            <div class="col-5 text-right">
              <button type="submit" class="btn btn-primary">送信</button>
            </div>
            <div class="col-1">
            </div>
          </div>
        </form>
      {% else %}
        <h5 class="my-5 text-center">ログインしてください</h5>
      {% endif %}
      </div>
      <div class="row my-3">
        <div class="col-1">
        </div>
        <div class="col-5 text-left">
          <a href="{% url 'index' %}" class="btn btn-secondary btn-sm">戻る</a>
        </div>
        <div class="col-6">
        </div>
      </div>
    </div>
      {% endblock %}
