{% extends "base.html" %}
{% load mathfilters %}

{% block title %}観光スポットの一覧{% endblock title %}

{% block content %}

    <div class="head p-5">
        <div class="spot-list p-3 font-deep">
            <h4 class="my-3 border-b">観光スポット一覧</h4>
            <table class="table table-striped table-bordered font-deep">
                <thead>
                    <tr>
                        <th scope="col">観光スポットID</th>
                        <th scope="col">名称</th>
                        <th scope="col">住所</th>
                        <th scope="col">平均滞在時間</th>
                        <th scope="col">最寄りバス停</th>
                    </tr>
                </thead>
                <tbody>
                    {% for spot in spots %}
                    <tr>
                        <th scope="row"><!---変更--->
                            <a href="{% url 'sheori:spot_detail' spot_id=spot.id %}">
                                {{ spot.id }}
                            </a>
                        </th>
                        <td>{{ spot.name }}</td>
                        <td>{{ spot.address }}</td>
                        <td>{{ spot.time_spent_ave }}</td>
                        <td>{{ spot.nearest_bus_stop.name }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="row my-3">
          <div class="col-1">
          </div>
          <div class="col-5 text-left">
{% if 1 < page %}
              <a class="a-light" href="{% url 'sheori:spot_list' %}?page={{ page|sub:1 }}">前のページ</a>
{% endif %}
          </div>
          <div class="col-5 text-right">
{% if page < last_page %}
              <a class="a-light" href="{% url 'sheori:spot_list' %}?page={{ page|add:1 }}">次のページ</a>
{% endif %}
          </div>
          <div class="col-1">
          </div>
        </div>
    </div>
{% endblock %}
